.terraform
terraform.tfstate
terraform.tfstate.backup
k8s/secrets
TF_VARS.sh
*.tfvars
*.pem
*.p12
oci-service-broker/**
config/**
keys/*.crt
keys/*.pem
keys/*.csr
keys/**/*.crt
keys/**/*.key
keys/osb/ssl.conf
ca.srl
cluster_admin_oci_config.txt
.terraform.tfstate.lock.info
